* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --main-color: #10375c;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height-btn: 60px;

    display: inline-block;
    height: var(--height-btn);
    min-width: 205px;
    text-align: center;
    font-weight: 400;
    border-radius: 999px;
    color: #fff;
    background: #2e80ce;
    line-height: var(--height-btn);
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--main-color);
    padding-top: 30px;
}

.brand {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.brand__logo::before,
.brand__logo::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.brand__logo::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.brand__logo::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.brand__name {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.brand__name--text {
    display: block;
    color: #fff;
}

.brand__name--text {
    font-size: 1.9em;
    font-weight: 400;
}

.brand__name--text--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    left: 6px;
    top: 16px;
}

.navbar__link--active {
    position: relative;
    color: #fff !important;
    font-weight: 600 !important;
}

.navbar__link {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup,
.header-action__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__login {
    margin-right: 28px;
    padding: 0 21px;
    margin-right: 7px;
}

.header-action__signup {
    text-align: center;
    font-weight: 400;
    border-radius: 999px;
    color: #fff;
    background: #2e80ce;
    line-height: 44px;
    color: #fff;
}

.header-action__signup {
    min-width: 108px;
    height: 44px;
    font-weight: 400;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    width: 45%;
}

.hero__heading {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.hero__booking {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__calling {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

.hero__img {
    object-fit: cover;
    width: 100%;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
}

/* Services */
.services {
    margin: 170px 0;
}
.services__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.services__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
    margin-top: 18px;
}

.services__row {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.services__details {
    margin-left: 130px;
}

.services__media {
    width: 49%;
    height: 570px;
    flex-shrink: 0;
}

.services__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.services__item--wrapper {
    display: flex;
    padding: 20px;
}

.services__item--wrapper:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.services__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #10375c;
    background: #eff6fd;
    border-radius: 50%;
    flex-shrink: 0;
}

.services__item--wrapper:hover .services__icon--wrapper {
    box-shadow: 0px 14px 28px 0px rgba(46, 128, 206, 0.2);
    color: #fff;
    background: #2e80ce;
    transition: 300ms ease-in-out;
}

.services__item--wrapper:hover .services__icon {
    color: #ffffff;
    transition: 300ms ease-in-out;
}

.services__item--text {
    margin-left: 19px;
}

.services__name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.services__info {
    color: #575f66;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    line-height: 1.75;
}

.services__btn {
    margin-top: 55px;
}

/* How it works */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.work__list {
    display: flex;
    justify-content: space-between;
    margin-top: 86px;
}

.work__items {
    width: 370px;
    border: 16px solid rgba(234, 246, 255, 1);
    border-radius: 4px;
}

.work__items:hover {
    border: 16px solid rgba(46, 128, 206, 1);
    cursor: pointer;
    transform: translateY(-16px);
    transition: 300ms ease-in-out;
}

.work__items {
}

.work__items:hover .work__items--action {
    color: #2e80ce;
    font-weight: 500;
}

.work__items--wrapper {
    padding: 42px;
    border-radius: 4px;
}

.work__items--caption {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work__items--desc {
    margin-top: 28px;
    color: #575f66;
    width: 254px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work__items--action {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* About */
.about {
    padding: 170px 0;
}
.about__wrapper {
    display: flex;
    align-items: center;
}

.about__media {
    position: relative;
    width: 49%;
    height: 491px;
    flex-shrink: 0;
}

.about__image {
    object-fit: cover;
    width: 512px;
    height: 370px;
    border-radius: 6px;
}

.about__image:last-child {
    position: absolute;
    top: 121px;
    right: 0;
    width: 332px;
}

.about__content {
    width: 51%;
    margin-left: 130px;
}

.about__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.about__desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.about__btn {
    margin-top: 38px;
}

/* Team */
.team__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.team__btn {
    display: block;
    width: 205px;
    margin: 38px auto 0;
}

.team__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.team__item {
    width: 262px;
}

.team__item--img {
    object-fit: cover;
    width: 100%;
    height: 318px;
    border-radius: 6px;
}

.team__item .title {
    margin-top: 12px;
    display: block;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.team__item--position {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.change-tab .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
}

.circle:hover #arrow {
    stroke: #fff;
}

.circle:hover {
    background: #2e80ce;
    border: none;
    cursor: pointer;
}

.change-tab {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 14px;
}

.change-tab__right .vector {
    rotate: 180deg;
}

/* Application */

.application {
    width: 1170px;
    height: 427px;
    margin: 265px auto 0;
    background: #2e80ce;
}

.app-content {
    position: relative;
    display: flex;
}

.app-media {
    position: absolute;
    top: -95px;
    left: 70px;
    width: 30%;
    flex-shrink: 0;
}

.app-info {
    margin: auto auto auto 514px;
    width: 70%;
}

.app-info__heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
