* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --main-color: #10375c;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height-btn: 60px;

    display: inline-block;
    height: var(--height-btn);
    min-width: 205px;
    text-align: center;
    font-weight: 400;
    border-radius: 999px;
    color: #fff;
    background: #2e80ce;
    line-height: var(--height-btn);
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--main-color);
    padding-top: 30px;
}

.brand {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.brand__logo::before,
.brand__logo::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.brand__logo::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.brand__logo::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.brand__name {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.brand__name--text {
    display: block;
    color: #fff;
}

.brand__name--text {
    font-size: 1.9em;
    font-weight: 400;
}

.brand__name--text--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    left: 6px;
    top: 16px;
}

.navbar__link--active {
    position: relative;
    color: #fff !important;
    font-weight: 600 !important;
}

.navbar__link {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup,
.header-action__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__login {
    margin-right: 28px;
    padding: 0 21px;
    margin-right: 7px;
}

.header-action__signup {
    text-align: center;
    font-weight: 400;
    border-radius: 999px;
    color: #fff;
    background: #2e80ce;
    line-height: 44px;
    color: #fff;
}

.header-action__signup {
    min-width: 108px;
    height: 44px;
    font-weight: 400;
}

/* Hero */
.hero {
    --distance: 330px;

    display: flex;
    align-items: center;
    margin-top: calc((var(--distance) / 2) - 40px);
}

.hero__content {
    width: 45%;
}

.hero__heading {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.hero__booking {
    margin-top: 38px;
}

.hero__calling {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__media {
    display: flex;
    align-items: center;
    width: 55%;
    margin-left: 113px;
}

.hero__img {
    object-fit: cover;
    width: 100%;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
}
